@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

/*Start*/

.background-form{
    background-color: white;
    padding: 100px;
}
    
    .row{
        padding: 0 20px;
        display: table;
        width: 100%;
    }
    
    button{
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        background-color: crimson;
        border: 2px solid crimson;
        color: white;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        transition: .3s ease;
        transition-property: background-color, color;
        padding: 15px;
        text-align: center;
        width: 50%;
    }
    
    button:hover{
        color:  white;
        background-color: rgb(231, 24, 66);
        cursor: pointer;
    }
    
    .font-use {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
	    font-weight: 300;
	    color: black;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	    letter-spacing: .2rem;
	    text-align: center;
        font-weight: 600;
    }
    
    
    @media screen and (max-width: 900px) {
        button{
            width: 100%;
        }
        .brand .h1{
            font-size: 2rem;
        }
    
    }


/*End*/

